body {
  padding: 0%;
  background-color: black;
  margin: 0%;
  overflow: hidden;
}

p {
  margin: 0%;
  background-image: url("vava.PNG");
  background-position: center;
  background-size: cover;
  font-size: 16px;
  text-align: justify;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
